<h2>Pages</h2>
<ul class="model_table">
	<% @pages.each do |page| %>
		<li>
			<ul class="instance_detail">
				<%= content_tag :li, page.title %>
				<%= form_for page, remote: true do |a| %>
					<%= a.select(:index, 1..Page.all.count) %>
				<% end %>
				<%= form_for page, remote: true do |a| %>
					<%= a.select(:published, [["draft", false], ["published", true]]) %>
				<% end %>
				
				<ul class="crud_buttons">
					<%= content_tag :li, link_to("edit", edit_page_path(page)) %>
					<%= content_tag :li, link_to("show", page_path(page)) %>
					<%= content_tag :li, link_to("delete", page_path(page), :confirm => "are you sure?", :method => :delete ) %>
				</ul>
			</ul>
		</li>
	<% end %>
</ul>

<h2>Articles</h2>
<ul class="model_table">
	<% @articles.each do |article| %>
		<li>
			<ul class="instance_detail">
				<%= content_tag :li, article.title %>
				<ul class="crud_buttons">
					<%= content_tag :li, link_to("edit", edit_article_path(article)) %>
					<%= content_tag :li, link_to("show", article_path(article)) %>
					<%= content_tag :li, link_to("delete", article_path(article), :confirm => "are you sure?", :method => :delete ) %>
					
				</ul>
				<%= form_for article, remote: true do |a| %>
					<%= a.check_box :featured, class: "articles", id: "article#{article.id}" %>
				<% end %>
			</ul>
		</li>
	<% end %>
</ul>


<h2>Contact information</h2>
<div class="contact_container">
	<ul class="contact_information">
	<%= content_tag :li, @contact.name %>
	<%= content_tag :li, @contact.address %>
	<%= content_tag :li, mail_to(@contact.email) %>
	<%= content_tag :li, "phone: #{@contact.phone}" %>
	<%= content_tag :li, "fax: #{@contact.fax}" %>
	</ul>
	<ul class="crud_buttons">
		<%= content_tag :li, link_to("edit", edit_contact_path(@contact)) %>

	</ul>
</div>
