<%= form_for @profile do |f| %>
	<%= render 'shared/errors', object: @profile %>
	<div class="field">
		<%= f.label :company %>
		<%= f.text_field :company %>
	</div>
	<div class="field">
		<%= f.label :quote %>
		<%= f.text_field :quote %>
	</div>
	<div class="field">
		<%= f.label :address1 %>
		<%= f.text_field :address1 %>
	</div>
	<div class="field">
		<%= f.label :address2 %>
		<%= f.text_field :address2 %>
	</div>
	<div class="field">
		<%= f.label :phone1 %>
		<%= f.text_field :phone1 %>
	</div>
	<div class="field">
		<%= f.label :phone2 %>
		<%= f.text_field :phone2 %>
	</div>
	<div class="field">
		<%= f.label :email1 %>
		<%= f.text_field :email1 %>
	</div>
	<div class="field">
		<%= f.label :email2 %>
		<%= f.text_field :email2 %>
	</div>
	<div class="field">
		<%= f.label :fax %>
		<%= f.text_field :fax %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

 


