<ul class="model_table">
	<li>
		<ul class="instance_detail">
			<%= content_tag :li, @profile.name, class:"name" %><br />
			<%= content_tag :li, @profile.address, class:"name" %><br />
			<%= content_tag :li, @profile.email, class:"name" %><br />
			<%= content_tag :li, @profile.phone, class:"name" %><br />
			<%= content_tag :li, @profile.fax, class:"name" %><br />
			
			<ul class="crud_buttons">
				<%= content_tag :li, link_to("edit", edit_profile_path(@profile)), class:"edit" %>	
				<%= content_tag :li, link_to("delete", profile_path(@profile), :confirm => "are you sure?", :method => :delete ), class:"delete" %>
			</ul>
		</ul>
		<br class="clear">
	</li>
	<br />

	<%= content_tag :li, link_to('View All Profiles', profiles_path) %>
</ul>
