<%= content_tag_for :li, article do %>
	<%= content_tag :span, handle_if_published(article), class: "handle" %>
	<ul class="instance_detail">
		<div class="article_details">
			<%= content_tag :li, article.title, class: "title"  %>
			<!-- dynamic form for picking article status -->
			<%= form_for article, :html => {:class => 'article_ajax_edit'}, :url => {controller: "articles", action: "article_status", id: article.id }, remote: true do |a| %>
					<%= collection_select(:article, :current_state, Status.all, :id, :status_name, option = { :selected => article.current_state}) %>
			<% end %>

			<%= content_tag :li, position_if_published(article), class: "page_position" %>

			<!-- dynamic form for picking starts_at -->
			<%= form_for article, :html => {:class=> "article_ajax_starts_at"}, :url => {controller: "articles", action: "article_starts_at", id: article.id }, remote: true do |a| %>
				<%= a.text_field :starts_at, :id => "message_#{article.id}_starts_at", :class => "article_message_starts_at" %>
			<% end %>
			<%= content_tag :li, Describe.new(Article).starts_at(article.id), class: "starts_at_date at_date #{check_if_draft(article)}", id: "message_#{article.id}_starts_at_text"  %>

			<!-- dynamic form for picking ends_at -->
			<%= form_for article, :html => {:class=> "article_ajax_ends_at"}, :url => {controller: "articles", action: "article_ends_at", id: article.id }, remote: true do |a| %>
				<%= a.text_field :ends_at, :id => "message_#{article.id}_start_at", :class => "article_message_ends_at" %>
			<% end %>
			<%= content_tag :li, Describe.new(Article).ends_at(article.id), class: "ends_at_date at_date #{check_if_draft(article)}", id: "message_#{article.id}_ends_at_text"  %>
		</div>
		
		<%= render "shared/crud_btns", object: article %>

		<div class="article_message">
			<%= content_tag :li, raw(article.body), class: "message"  %>
		</div>
	</ul>
	<br class="clear"/>

<% end %>
