
  <%= form_for(@article) do |f| %> 
    <%= render 'shared/errors', object: @article %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :body %><br />
      <%= f.text_area :body, :class => 'ckeditor' %>
    </div>
    <div class="field">
      <%= f.label :tag_names, "Tags" %>
      <%= f.text_field :tag_names %>
    </div>

    <div class="field schedule_in">
      <%= f.label :schedule_in %><br />
      <%= f.text_field :schedule_in %>
    </div>
    <div class="field schedule_out">
      <%= f.label :schedule_out %><br />
      <%= f.text_field :schedule_out %>
    </div>

    <div class="field schedule_in">
      <%= f.label :published, "Published Status" %><br />
      <%= f.select(:published, [["draft", false], ["published", true]]) %>
    </div>

    <% if can? :edit, Page %>
      <div class="field schedule_out">
        <%= f.label :featured, "Feature in Sidebar?" %><br />
        <%= f.select(:featured, [["featured article", true], ["non-featured article", false]]) %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
