 
  <%= form_for(@article) do |f| %> 
    <%= render 'shared/errors', object: @article %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :body %><br />
      <%= f.text_area :body, :class => 'ckeditor' %>
    </div>
    <div class="field">
      <%= f.label :tag_names, "Tags" %>
      <%= f.text_field :tag_names %>
    </div>

    <div class="field schedule_fields">
      <%= f.label :starts_at %>
      <% if !@article.new_record? %>
        <%= f.text_field :starts_at, :class => "datepicker", :value => Describe.new(Article).starts_at(@article.id) %>
      <% else %>
        <%= f.text_field :starts_at %>
      <% end %>
    </div>
    <div class="field schedule_fields">
      <%= f.label :ends_at %>
      <% if !@article.new_record? %>
        <%= f.text_field :ends_at, :class => "datepicker", :value => Describe.new(Article).ends_at(@article.id) %>
      <% else %>
        <%= f.text_field :ends_at %>
      <% end %>
    </div>

    <div class="field schedule_fields">
      <%= f.label :current_state %>
      <%= collection_select(:article, :current_state, Status.all, :id, :status_name, option = { :selected => @article.current_state}) %>
    </div>

    <% if can? :edit, Article %>
      <div class="field schedule_out">
        <%= f.label :featured, "Feature in Sidebar?" %><br />
        <%= f.select(:featured, [["featured article", true], ["non-featured article", false]]) %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
