  
<h1>articles</h1>
<div class="column_title pages">
	<%= content_tag :p, link_to("+ New", new_article_path), class: "new_instance_button" %>
	<ul>
		<li class="title">Title</li>
		<li>Status</li>
		<li class="in announce_in">Go Live</li>
		<li class="out">Expires On</li>
	</ul>
	
</div>

<ul class="model_table articleStatus" id="published_articles" data-update-url="<%= sort_articles_url %>">
	<%= content_tag :h3, "Published articles (#{@published_articles.count})" %>
	<%= render @published_articles %>
</ul>

<ul class="model_table articleStatus" id="scheduled_articles" data-update-url="<%= sort_articles_url %>">
	<%= content_tag :h3, "Schedule articles (#{@scheduled_articles.count})" %>
	<%= render @scheduled_articles %>
</ul>

<ul class="model_table articleStatus" id="draft_articles" data-update-url="<%= sort_articles_url %>">
	<%= content_tag :h3, "Draft articles (#{@draft_articles.count})" %>
	<%= render @draft_articles %>
</ul>