<div id="water">
</div>
  
<div class="full-width" id="top-nav">
  <div class="container">
    <ul class="left">
      <% if user_signed_in? %>
            <%= content_tag :li, link_to("Dashboard", dashboard_path) if can? :manage, @page %>
            <%= link_to content_tag(:li, "#{current_user.fullname}"), edit_user_registration_path %>
      <% end %>
    </ul>
     
    <ul class="left">
      <% @pages = Page.s_that_are_published %>

      <% @pages.each do |page| %>
        <%= content_tag :li, link_to(page.title, [page]) %>
      <% end %>
       
    </ul>

    <p class="email"><a href="mailto:info@outpouring.us"><%= image_tag 'email.png', size: "30x30", class: "ns left"%>info@outpouring.us</a></p>
        
   <!-- <ul class="right">
      <% if current_user %>
          <%= content_tag :li, link_to("Logout", destroy_user_session_path, :method => :delete) %>
      <% else %>
          <%= content_tag :li, link_to("Create an Account", new_user_registration_path) %>
          <%= content_tag :li, link_to("Sign In", new_user_session_path) %>
      <% end %>
    </ul> -->
    <br class="clear"/>
  </div>
</div>
<div class="full-width notice">
  <p><strong>Note:</strong> The Tuesday night Outpouring Gatherings will remain at the Cafe through March 12th, while the details for our new location are finalized.</p>
</div>