<div class="four columns omega">
	<h1 class="pagetitle"><%= @product.title %></h1>
	<p><%= @product.description %></p>
	<div id="cart_form">
		<%= variant_cart_form(@product) %>

	</div>	

	<%= cart_link %>	
	<%= orders_link("Order History") %>					 
</div>


