<!DOCTYPE html>
<html>
<head>
  <title>Outpouring</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>          
  <% if "#{params[:controller]}##{params[:action]}" == "piggybak/orders#submit" -%>
      <%= javascript_include_tag "piggybak/piggybak-application" %>
  <% end -%>

  <%= csrf_meta_tags %>
</head>
<body>
  
	<%= render "shared/header" %>

  	
  	<div class="container main">
        <div class="logo">
          <%= image_tag 'logo4.png',size: "285x587"%>
        </div>

      <div class="main_col">
        <div class="error">
          
          <% flash.each do |name, msg| %>
            <%= content_tag :p, msg, id: "flash_#{name}" %>
  
          <% end %>

        </div>

        <%= yield %>
        <br class="clear"/>
      </div> 

      
      <div class="sidebar">
        <% if params[:controller] == 'pages'%>
            <%= render'shared/sidebar' %>
        <% end %> 
      </div>
      <br class="clear"/>
  	</div>
 	  
  <%= render "shared/footer" %>

</body>
</html>
