<!DOCTYPE html>
<html>
<head>
  <title>Outpouring</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>          
  <% if "#{params[:controller]}##{params[:action]}" == "piggybak/orders#submit" -%>
      <%= javascript_include_tag "piggybak/piggybak-application" %>
  <% end -%>
	<link href='http://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="top_bar">
		<h1><span class="orange">My</span> Monarch Dashboard</h1>
	</div>
	<%= yield %>
</body>
</html>